$theme-color: #EF742A;

$font-size-large: 18px;
$font-size-medium: 14px;
$font-size-medium-m: 15px;
$font-size-medium-x: 16px;
$font-size-small-s: 11px;
$font-size-small: 12px;
$font-size-small-m: 13px;

$color-text-black: #191c3d;

$box-padding: 15px;
